*,
*:before,
*:after {
  box-sizing: content-box;
}

@font-face {
  font-family: 'Orbitron';
  src: url('assets/fonts/orbitron/orbitron-black-webfont.eot');
  src: url('assets/fonts/orbitron/orbitron-black-webfont.woff') format('woff'),
    url('assets/fonts/orbitron/orbitron-black-webfont.ttf') format('truetype'),
    url('assets/fonts/orbitron/orbitron-black-webfont.svg') format('svg');
}

@font-face {
  font-family: 'Ostrich';
  src: url('assets/fonts/ostrich/ostrich-sans-black.eot');
  src: url('assets/fonts/ostrich/ostrich-sans-black.woff') format('woff'),
    url('assets/fonts/ostrich/ostrich-sans-black.ttf') format('truetype'),
    url('assets/fonts/ostrich/ostrich-sans-black.svg') format('svg');
}

body {
  font-family: Orbitron, Impact, Charcoal, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  background-color: rgba(132, 164, 170, 0.822);/*changed this*/
}

/***************************************** Canvases and Parent Div Positioning *****************************************/

#parent-top,
#parent-bottom,
.game-canvas {
  /*See https://thoughtbot.com/blog/positioning for a discussion on centering with absolute positioning*/
  position: fixed;
  left: 50%;
  margin-left: -420;
  /* CANVAS SPECIFIC SIZE - SEE <CANVAS> TAG IN HTML */
  /*notice this is half the width of the canvas*/
}

#parent-top,
#parent-bottom,
.game-canvas .menu {
  width: 840;
  /* CANVAS SPECIFIC SIZE - SET <CANVAS> TAG IN HTML TO SAME SIZE */
  height: 346px;
  /* CANVAS SPECIFIC SIZE - SET <CANVAS> TAG IN HTML TO SAME SIZE */
}

.game-canvas {
  z-index: 1;
}

#parent-top,
#canvas-top {
  top: 10px;
}

#parent-bottom,
#canvas-bottom {
  top: 366px;
  /* CANVAS SPECIFIC SIZE - SEE <CANVAS> TAG IN HTML */
  /*10 above top canvas + 10 space between canvases + 346 for top canvas height*/
}

.game-canvas {
  display: none;
  border: 1px solid black;
  background-color: #F2F2;/*changed this*/
}

/***************************************** Menu *****************************************/

.submenu {
  display: none;
}

.menu {
  border: 1px solid white;
  text-align: center;
  z-index: 3;
}

.menu,
.loader-background {
  background-image: url('assets/images/backgrounds/Zombie_background.jpg');
  background-color: #1fac26;
  /* Used if the image is unavailable */
  height: 346px;
  /* CANVAS SPECIFIC SIZE - You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.menu h1 {
  color: white;
  text-shadow: 2px 2px #000000af;
  margin-top: 60px;
}

a {
  font-size: 12pt;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px 0px 5px 0px;
}

.button {
  display: block;
  width: 180px;
  height: 40px;
  margin: auto;
  line-height: 40px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000;
  background-color: rgb(251, 77, 24);
  background-image: linear-gradient(
    to bottom,
    rgb(87, 63, 40) 0%,
    rgb(13, 113, 179) 100%
  );
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(185, 160, 0);
  background-image: linear-gradient(
    to bottom,
    rgb(185, 160, 0) 0%,
    #fddc00 100%
  );
}

/***************************************** Loader *****************************************/
.loader-background {
  /*blur*/
  filter: blur(2px);
  border: 1px solid white;
  z-index: 3;
}

.loader-text {
  position: absolute;
  letter-spacing: 1px;
  text-shadow: 2px 2px #000000af;
  top: 65%;
  left: 50%;
  color: white;
  z-index: 4;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 12px solid #f3f3f3;
  border-top: 12px solid var(--loader-color);
  border-radius: 50%;
  z-index: 4;

  /*https://css-tricks.com/css-attr-function-got-nothin-custom-properties/*/
  width: var(--loader-width);
  height: var(--loader-height);

  /*https://css-tricks.com/almanac/properties/a/animation/*/
  animation-name: spin;
  animation-duration: var(--loader-spin-duration);
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/***************************************** UI - Toast - Intro *****************************************/

.ui-info-toast-countdown{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-shadow: 2px 2px black;
  z-index: 4;

 /*https://css-tricks.com/almanac/properties/a/animation/*/
 animation-name: expandfade;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;          /*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp*/
 animation-delay: 0s;
 animation-direction: normal;                     /*https://www.w3schools.com/cssref/css3_pr_animation-direction.asp*/
 animation-iteration-count: 1;
 animation-fill-mode: forwards;                   /*https://www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp*/
}

@keyframes expandfade {
 0% {
   transform: scale(3) rotate(0deg);  
   opacity: 1;
 }

 /*we could add intermediate frames with a rotation*/
 /*
 25% {
  transform: scale(3) rotate(-2deg);
}

75% {
  transform: scale(4) rotate(2deg);
}
*/

 100% {
   transform: scale(9) rotate(0deg);
   opacity: 0;
 }
}

/***************************************** UI *****************************************/

.ui-info{
  position: absolute;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 0.9em;  /*90% of the font size specified for the body tag i.e. 18pt*/
  z-index: 4;

 /*https://css-tricks.com/almanac/properties/a/animation/*/
 animation-name: fadein;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;          /*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp*/
 animation-delay: 0s;
 animation-direction: normal;                     /*https://www.w3schools.com/cssref/css3_pr_animation-direction.asp*/
 animation-iteration-count: 1;
 animation-fill-mode: forwards;                   /*https://www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp*/
}

@keyframes fadein {
 0% { 
   opacity: 0;
 }

 100% {
   opacity: 1;
 }
}

